.card {
  width: 100%;
  overflow: hidden;
}

.bottom {
  font-size: 10px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 0rem;
}

.icon {
  width: 20px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: #888792;
}

.bottom p {
  color: #888792;
}

.imageContainer {
  position: relative;
}

.newProductLabel {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.titleContainer h4 {
  font-size: 14px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outOfStockLabel {
  background-color: white;
  padding: 1rem 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
  .titleContainer h4 {
    font-size: 18px;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bottom {
    display: flex;
    font-size: 14px;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 0rem;
  }
}
