.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.unselect {
  color: #bfc8cd;
  text-decoration: underline;
}
